<!-- about.component.html -->

<div class="container mx-auto px-4">
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <h1 class="text-2xl font-bold text-gray-800 mb-2">About ClashMultiTimer</h1>
      <p class="text-gray-700 text-base">
          Welcome to ClashMultiTimer, the ultimate tool designed for passionate Clash of Clans players. As a 24-year-old web developer with a keen interest in strategy games and some experience in JavaScript and open source projects, I created this platform to cater to the specific needs of CoC enthusiasts with multiple accounts.
      </p>
      <p class="text-gray-700 text-base mt-4">
          Our goal is simple: to streamline your Clash experience. With ClashMultiTimer, you can easily organize building and lab upgrades across multiple accounts. The intuitive timers keep track of your upgrade schedules, ensuring that you never miss a beat in your quest for village supremacy.
      </p>
      <p class="text-gray-700 text-base mt-4">
          Join us in revolutionizing the way Clash of Clans is played. With ClashMultiTimer, victory is just a few well-planned upgrades away!
      </p>
      <div class="flex justify-center mt-6">
        <a href="/timer">
          <button class="bg-pink-500 hover:bg-pink-800 text-white font-bold py-2 px-4 rounded">
              Get Started
          </button>
        </a>
      </div>
  </div>
</div>
