<div class="bg-gray-100 py-8">
    <div class="container mx-auto">
      <div class="bg-white rounded-lg shadow-md p-8">
        <h1 class="text-4xl font-bold mb-6">Contact Us</h1>
        
        <!-- Email -->
        <div class="mb-6">
          <h2 class="text-xl font-semibold mb-2">Email:</h2>
          <a href="mailto:maxim@omg.lol" class="text-blue-600 hover:underline">maxim&commat;omg.lol</a>
        </div>
        
        <!-- Twitter -->
        <div class="mb-6">
          <h2 class="text-xl font-semibold mb-2">Twitter:</h2>
          <a href="https://twitter.com/mqxym77" target="_blank" class="text-blue-600 hover:underline">&commat;mqxym77</a>
        </div>
        
        <!-- GitHub -->
        <div>
          <h2 class="text-xl font-semibold mb-2">GitHub:</h2>
          <a href="https://github.com/mqxym" target="_blank" class="text-blue-600 hover:underline">github.com/mqxym</a>
        </div>
      </div>
    </div>
  </div>