<div class="flex flex-col items-center p-4">
  <div class="flex flex-col lg:flex-row w-full lg:space-x-4">
    <!-- Account Group Creation Box -->
    <div class="flex-1 mb-4 shadow-lg rounded-lg">
      <form [formGroup]="groupForm" (ngSubmit)="onSubmitGroup()" class="flex flex-col space-y-4 p-4">
        <h2 class="text-lg font-bold mb-2">🔨 Add Accounts</h2>
        <div class="flex flex-row space-x-4 mb-3 w-full">
          <div class="flex flex-col space-y-1 w-3/4">
            <span class="text-xs text-gray-500 block mb-1 ">Account Name (max 15 characters)</span>
            <input type="text" formControlName="groupName" placeholder="Account Name" class="border p-2 rounded h-10 ">
          </div>
          <div class="flex flex-col space-y-1  w-1/4">
            <span class="text-xs text-gray-500 block mb-1">Builders</span>
            <input type="number" pattern="[0-9]*" formControlName="builderCount" placeholder="2-7" class="border p-2 rounded h-10">
          </div>
        </div>
        <button [disabled]="!groupForm.valid"
                [class.opacity-50]="!groupForm.valid"
                [class.cursor-not-allowed]="!groupForm.valid"
                class="bg-fuchsia-600 text-white p-2 rounded h-10 mt-2"
                type="submit">Create Account
        </button>
        <p  *ngIf="showAccountCreated" [@fade] class="text-fuchsia-500">Account created</p>
        <p  *ngIf="showAccountDeleted" [@fade] class="text-fuchsia-500">Account deleted</p>
      </form>
        
    </div>

    <!-- Set Timer Form Box -->
    <div *ngIf="timerGroups.length !== 0 && !isBuilderCountReached()" class="flex-1 mb-4 shadow-lg rounded-lg">
      <form [formGroup]="timerForm" (ngSubmit)="onSubmitTimer()" class="flex flex-col space-y-4 p-4">
        <h2 class="text-lg font-bold mb-2">⏰ Create Timers</h2>
        <div class="flex flex-col space-y-1 mb-3">
          <span class="text-xs text-gray-500 block mb-1">Choose Account</span>
          <select formControlName="selectedGroup" class="border p-2 rounded h-10 w-full">
            <ng-container *ngFor="let group of timerGroups">
              <option *ngIf="(getCountdownsLength(group.name) + 1) <= group.builderCount" [value]="group.name">{{group.name}}</option>
            </ng-container>
          </select>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
          <div class="flex flex-col space-y-1">
            <span class="text-xs text-gray-500 block mb-1">Days</span>
            <input type="number" pattern="[0-9]*" formControlName="days" placeholder="Days" class="border p-2 rounded h-10 w-full">
            
          </div>
          <div class="flex flex-col space-y-1">
            <span class="text-xs text-gray-500 block mb-1">Hours</span>
            <input type="number" pattern="[0-9]*" formControlName="hours" placeholder="Hours" class="border p-2 rounded h-10 w-full">
            
          </div>
          <!-- <div class="flex flex-col space-y-1"> -->
          <div class="flex flex-col space-y-1"  *ngIf="timerForm.get('minutesNotVisible')?.value == false || timerForm.get('minutesNotVisible')?.value == null">
            <span class="text-xs text-gray-500 block mb-1">Minutes</span>
            <input type="number" pattern="[0-9]*" formControlName="minutes" placeholder="Minutes" class="border p-2 rounded h-10 w-full">
          </div>
        </div>

        <div class="flex items-center space-x-2">
          <p class="text-gray-500 mb-1 ">Minutes not visible</p>
          <input type="checkbox" formControlName="minutesNotVisible" class="border p-2 rounded h-10 ml-2">
        </div>
  
        
        <button type="submit"
                [disabled]="!timerForm.valid"
                [class.opacity-50]="!timerForm.valid"
                [class.cursor-not-allowed]="!timerForm.valid"
                class="bg-fuchsia-600 text-white p-2 rounded h-10 mt-2"
                >Start Upgrade Timer</button>
      </form>
    </div>
  </div>

  <!-- Countdown List Group -->
  <h2 class="text-lg font-bold mb-2">Account List</h2>
  <p *ngIf="timerGroups.length === 0">Add an account to start 😁</p>
  <div class="w-full space-y-2 mt-1 shadow-lg rounded-lg" *ngFor="let group of timerGroups">
    <div class="flex items-center m-2 divide-x justify-between">
      <h3 class="font-bold"><u>Account: {{ group.name }}</u></h3>
      <div class="flex">
        <button class="bg-gradient-radial from-blue-500 to-purple-500 text-white p-1 rounded h-8 mt-2 ml-2 d-flex align-items-center justify-content-center" (click)="fastForward(group.name)">
          <mat-icon class="d-flex align-self-center" style="color: white;">hourglass_bottom</mat-icon>
        </button>
        <button class="bg-gradient-radial from-green-500 to-blue-500 text-white p-1 rounded h-8 mt-2 ml-2 d-flex align-items-center justify-content-center" (click)="showEditGroupForm(group.name, group.builderCount)">
          <mat-icon class="d-flex align-self-center" style="color: white;">settings</mat-icon>
        </button>
        <button class="bg-gradient-radial from-orange-500 to-purple-500 text-white p-1 rounded h-8 mt-2 ml-2 d-flex align-items-center justify-content-center" (click)="confirmDelete(group.name)">
          <mat-icon class="d-flex align-self-center" style="color: white;">delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="m-2" *ngFor="let timer of countdowns">
      <p *ngIf="timer.group === group.name">
        <mat-icon (click)="deleteCountdown(timer.id, timer.group)">diamond</mat-icon>
        Upgrade <b>#{{ timer.id }}</b>: {{ timer.timeLeft }}
      </p>
    </div>
  </div>
<div>

<!-- Edit Account Modal -->
<div *ngIf="showEditModal" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Edit Account</h3>
        <form [formGroup]="editGroupForm" (ngSubmit)="onSubmitEditGroup()" class="flex flex-col space-y-4 p-4">
          <div class="flex flex-col space-y-1 mb-3">
            <span class="text-xs text-gray-500 block mb-1">Account Name</span>
            <input type="text" formControlName="newGroupName" placeholder="Account Name" class="border p-2 rounded h-10 w-full">
          </div>
          <div class="flex flex-col space-y-1 mb-3">
            <span class="text-xs text-gray-500 block mb-1">Builder Count</span>
            <input type="number" pattern="[0-9]*" formControlName="newBuilderCount" placeholder="2-7" class="border p-2 rounded h-10 w-full">
          </div>
          <input type="text" formControlName="selectedGroup" hidden>
          <div class="flex space-x-4">
            <button type="submit"
                    [disabled]="!editGroupForm.valid"
                    [class.opacity-50]="!editGroupForm.valid"
                    [class.cursor-not-allowed]="!editGroupForm.valid"
                    class="bg-fuchsia-600 text-white p-2 rounded h-10"
                    >Save Changes</button>
            <button type="button"
                    (click)="showEditModal = false"
                    class="bg-gray-500 text-white p-2 rounded h-10"
                    >Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="checkFinishedCountdowns()" class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-50 bg-gray-500 bg-opacity-75 transition-opacity" role="dialog" aria-labelledby="finishedUpgradesTitle" aria-modal="true">
  <div class="bg-white w-auto h-auto p-5 rounded shadow-lg items-center justify-center">
    <h2 class="text-2xl mb-4 text-center"><u>Finished Upgrades</u></h2>
    <ng-container *ngFor="let countdown of countdowns">
      <p class="text-center" *ngIf="countdown.timeLeft === 'Upgrade finished!'"><b>Account: {{countdown.group}}</b></p>
      <p class="text-center"*ngIf="countdown.timeLeft === 'Upgrade finished!'">Upgrade #{{countdown.id}} finished</p>
    </ng-container>
    <div class="flex justify-center">
      <button (click)="deleteFinishedCountdowns()" class="mt-4 bg-gradient-to-r from-orange-500 to-purple-500 text-white p-2 rounded">Start Next Upgrade(s)</button>
    </div>
  </div>
</div>